.tab-content{
    padding-top: 5%;
}

label {
    font-weight: 600;
}

.nav-item{
    font-weight: 600;
}

.ng5-slider .ng5-slider-bubble .ng5-slider-limit{
    color: black !important;
}

.required-color{
    color: red;
}

.form-group{
    margin-bottom: 0px;
}

.search-btn-marginTop{
    margin-top: 10px;
}