.flightdetails-arrow-padding{
    padding: 0px 3%
};

.nopadding{
    padding: 0px;
}

.nomarginleft{
    margin-left: 0px !important;
}

.floatright{
    float: right;
}

.floatleft{
    float: left;
}

.search-btn-postion{
    position: relative;
    padding-top: 75px;
}

.details-scroll{
    height:600px;
    overflow-y: scroll;
}
.details-card-padding{
    padding: 5px;
}